*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root,
body {
  margin: 0;
  height: 100%;
  font-size: 16px;
}

.body {
  position: relative;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topbar {
  min-height: fit-content;
  padding: 25px 150px;
  background-color: #f9fafb;
  z-index: 1;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.library-logo {
  font-size: 2.5rem;
  font-weight: 900;

  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  background: #e5e7eb;
  flex: 1;
}

.add-book-section {
  min-height: fit-content;
  padding: 25px 150px;

  display: flex;
  justify-content: center;
  align-content: center;
}

.add-book-button {
  padding: 20px 35px;

  font-size: 1.3rem;
  font-weight: 700;
  border: none;
  border-radius: 9px;

  background: #d1d5db;

  cursor: pointer;
}

/* Form styling */

.book-form {
  display: none;
}

form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background: #f9fafb;
  min-height: fit-content;
  min-height: fit-content;

  padding: 25px;
  border-radius: 9px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-header {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.form-container > input {
  display: block;
  background: #ffffff;
  border: none;

  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 9px;
}

.form-container > input:focus {
  outline: 1px solid #4b5563;
}

.read-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.read-section > label {
  font-size: 1.1rem;
  font-weight: 500;
}

/* Checkbox styling  */

input[type="checkbox"] {
  appearance: none;
  margin: 0;

  font: inherit;
  background-color: #ffffff;
  width: 14px;
  height: 14px;
  border: 1px solid #4b5563;
  border-radius: 0.15em;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 9px;
  height: 9px;
  background: #4b5563;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Button styling */

.form-container > button {
  background-color: #a3e635;
  border: none;
  border-radius: 9px;
  padding: 15px 0;

  font-weight: 700;
  font-size: 1.1rem;

  cursor: pointer;
}

/* Book cards styling  */

.book-cards-section {
  padding: 0px 150px 25px 150px;

  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.book-card {
  background: #f9fafb;
  min-height: fit-content;
  padding: 25px;
  border-radius: 9px;

  text-align: center;
  display: flex;
  flex-direction: column;
}

.info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  white-space: pre-line;
  word-wrap: break-word;
}

.book-title {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.book-author,
.book-page-number {
  font-weight: 500;
  font-weight: 1.3rem;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
}

button.book-is-read,
button.book-not-read,
button.remove-button {
  font-weight: 700;
  font-weight: 1.3rem;
  padding: 10px 0;
  border: none;
  border-radius: 9px;

  cursor: pointer;
}

button.book-is-read {
  background: #a3e635;
  margin: 10px 0;
}

button.book-not-read {
  background: #ef4444;
  margin: 10px 0;
}

button.remove-button {
  background: #d1d5db;
}
